@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.flex{
    display: flex;
}
.yellow{
 color: rgb(254, 163, 1);
}
.blue{
color: rgb(1, 172, 253);
}
.aqua{
 color: rgb(5, 212, 223);
}
.violet{
color: rgb(93, 88, 239);
}
nav{
    justify-content: space-between;
    align-items: center;
    margin-left:70px;
    margin-right: 70px;
}
.nav-logo{
 align-items: center;
 justify-content: space-between;
 gap: 8px;
}
.nav-logo img{
    height: 48px;
    width: 43px;
  }
  .nav-title{
    font-size: 1.5rem;
    font-weight: 700;
  }
.nav-lists{
    justify-content: space-between;
    gap: 20px;
}
.nav-list{
    list-style: none;
}
.nav-anchor{
    text-decoration: none;
}

.nav-btn{
    color: rgb(255, 255, 255);
font-size: 0.9rem;
font-weight: 600;
text-align: center;
border-radius: 10px;
background: rgb(254, 163, 1);
padding: 12px 35px;
border: none;
}

.hero{
    margin-left: 70px;
    margin-right: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
 
.student-title{
font-size: 3rem;
font-weight: 700;
text-align: left;
margin-bottom: 0px;
}
.student-description{
font-size: 1rem;
font-weight: 400;
text-align: left;

}
.student-btn{
    margin-top: 5px;
    color: rgb(255, 255, 255);
font-size: 0.8rem;
font-weight: 700;
text-align: center;
border-radius: 10px;
background: rgb(17, 17, 17);
padding: 10px 32px;
border: none;
}





@media screen and (max-width : 576px) {
    .hide{
        visibility: hidden;
    }
    nav{
        width: 90%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .hero{
        flex-direction: column-reverse;
    }
.student-title , .student-description , .student{

text-align: center;

}


}